@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap" rel="stylesheet');
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  outline: none;
}

ul {
  list-style: none;
}

header {
  position: absolute;
  width: 100%;
  height: 11rem;
  font-weight: 900;
}

.contenedor_header {
  width: 100%;
  height: 100%;
  max-width: 117rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.menu-iconos {
  color: #eee;
  font-size: 2rem;
  position: absolute;
  top: 30%;
  right: 3rem;
  cursor: pointer;
  z-index: 1500;
  display: none;
  padding: 1rem;
}

nav {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #113f3f;
  border-bottom: 3px white solid;
  z-index: 1000;
}

.nav_list {
  display: flex;
}

.nav_list li {
  line-height: 8rem;
  position: relative;
}

.sub_menu li {
  line-height: 4rem;
}

.nav_list a {
  display: block;
  color: white;
  padding: 0 1.5rem;
  font-size: 1.4rem;
  text-transform: uppercase;
  transition: color 650ms;
}

.nav_list a:hover {
  color: #01ffea;
}

.sub_menu {
  width: 20rem;
  display: block;
  position: absolute;
  border-top: 3px #01ffea solid;
  background: #113f3f;
  z-index: 100;
  top: 16rem;
  transition: all 650ms ease;
  opacity: 0;
  visibility: hidden;
  transition: all 650ms ease;
}

.sub_menu::before {
  content: "";
  position: absolute;
  top: -2.5rem;
  left: 3rem;
  border: 1.2rem solid transparent;
  border-bottom-color: #01ffea;
}

.sub_menu .sub_menu::before {
  top: 0.9rem;
  left: -2.5rem;
  border: 1.2rem solid transparent;
  border-right-color: #01ffea;
}

.sub_menu .sub_menu {
  border-top: none;
  border-left: 3px solid #01ffea;
  top: 0;
  left: 160%;
}

.nav_list li:hover > .sub_menu {
  top: 8rem;
  opacity: 1;
  visibility: visible;
}

.sub_menu li:hover > .sub_menu {
  top: 0;
  left: 100%;
}

.container__logo {
  padding: 0.5rem;
  width: 30%;
  height: 8rem;
  display: flex;
  position: relative;
  align-items: center;
}
.container__logo img {
  object-fit: cover;
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
}
.container__logo h3 {
  margin-left: 1rem;
  color: white;
  font-size: 1.6rem;
  align-self: center;
}

.hero {
  width: 100%;
  height: 100vh;
  display: relative;
  z-index: 0;
}
.hero .opc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.7);
  height: 100%;
  width: 100%;
}
.hero .opc img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  background-position: center;
  position: absolute;
  z-index: -3;
}
.hero .opc h1 {
  color: white;
  font-size: 3rem;
  text-align: center;
  margin: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  position: relative;
  z-index: 0;
}
.hero .opc h3 {
  color: white;
  font-size: 2.5rem;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  z-index: 0;
}
.hero .opc p {
  color: white;
  font-size: 1.8rem;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
}

main .content-titulo {
  margin: auto;
  color: white;
  background: #113f3f;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}
main .content-titulo h3 {
  font-size: 3.5rem;
}

.productos {
  background-image: url("../img/fondo-imagen2.jpg");
  width: 100%;
  box-sizing: border-box;
  padding: 2rem;
  background-size: cover;
  object-fit: cover;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  border-bottom: 3px white solid;
}
.productos .content {
  background: rgba(3, 2, 2, 0.507);
  margin: 1.3rem;
  padding: 5px;
  color: white;
  box-shadow: 0 0 4px white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.productos .content .content-img {
  width: 170px;
  height: 170px;
}
.productos .content .content-img img {
  height: 170px;
  width: 100%;
}
.productos .content h3 {
  font-size: 2.1rem;
  margin: 3px;
}
.productos .content p {
  font-size: 1.6rem;
}
.productos .content button {
  padding: 10px;
  color: white;
  background: #113f3f;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  border-radius: 8px;
}
.productos .content button:hover {
  color: #fcfafa;
  background: #224646;
}

.Caracteristicas {
  background-image: url("../img/fondo2.jpg");
  background-position: center;
  width: 100%;
}
.Caracteristicas h3 {
  margin: 0;
  color: white;
  text-align: center;
  padding-top: 20px;
  font-size: 25px;
}

.beneficios {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 1.4rem;
  flex-wrap: wrap;
  box-sizing: border-box;
  border-bottom: 3px white solid;
}
.beneficios .duraderos {
  background-image: url("../img/bateria.jpg");
  border: 3px solid black;
  box-shadow: 0 0 3px white;
  margin: 20px;
  background-size: cover;
  width: 250px;
  height: 200px;
  position: relative;
}
.beneficios .increible {
  background-image: url("../img/equipoSonido.jpg");
  border: 3px solid black;
  box-shadow: 0 0 3px white;
  margin: 20px;
  background-size: cover;
  width: 250px;
  height: 200px;
  position: relative;
}
.beneficios .confiable {
  background-image: url("../img/consola.jpg");
  border: 3px solid black;
  box-shadow: 0 0 3px white;
  margin: 20px;
  background-size: cover;
  width: 250px;
  height: 200px;
  position: relative;
}

.degrade {
  background: rgba(0, 0, 0, 0.705);
  width: 100%;
  height: 100%;
  position: absolute;
  color: white;
  text-align: center;
  font-size: 19px;
  padding: 1rem;
  box-sizing: border-box;
}

.comentarios {
  background-image: url("../img/fondo3.jpg");
  background-position: center;
  text-align: center;
  width: 100%;
}
.comentarios .opacidad {
  background: rgba(0, 0, 0, 0.705);
}
.comentarios .comentarios-h2 {
  padding-top: 20px;
  color: white;
  margin: 0;
  font-size: 2.1rem;
}
.comentarios .comentarios-container-img {
  margin-top: 15px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.comentarios .comentarios-container-img img {
  border-radius: 50%;
}
.comentarios .comentarios-container-img .name {
  color: white;
  font-size: 20px;
}

.contenedor {
  width: 100%;
  margin: auto;
  border: 2px solid black;
  background-image: url("../../img/fondo-imagen2.jpg");
  background-size: cover;
}
.contenedor h3 {
  text-align: center;
  color: white;
  font-size: 35px;
  font-weight: bold;
}
.contenedor .grid_producto {
  padding: 25px 75px;
  background: rgba(0, 0, 0, 0.5);
  display: grid;
  grid-template-columns: 200px 2fr;
  grid-template-rows: 120px;
  grid-gap: 20px;
}
.contenedor .grid_producto div {
  position: relative;
}
.contenedor .grid_producto div img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.contenedor .grid_producto .descripcion {
  color: white;
  text-align: center;
  box-shadow: 0 0 5px white;
  margin: 0;
}
.contenedor .grid_producto .descripcion button {
  padding: 10px;
  color: white;
  background: #113f3f;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  border-radius: 8px;
}
.contenedor .grid_producto .descripcion button:hover {
  color: #fcfafa;
  background: #224646;
}
.contenedor .grid_producto2 {
  padding: 50px;
  background: rgba(0, 0, 0, 0.5);
  display: grid;
  grid-template-columns: 2fr 200px;
  grid-template-rows: 120px;
  grid-gap: 20px;
}
.contenedor .grid_producto2 div {
  position: relative;
}
.contenedor .grid_producto2 div img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.contenedor .grid_producto2 .descripcion {
  color: white;
  text-align: center;
  box-shadow: 0 0 5px white;
  margin: 0;
}
.contenedor .grid_producto2 .descripcion button {
  padding: 10px;
  color: white;
  background: #113f3f;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  border-radius: 8px;
}
.contenedor .grid_producto2 .descripcion button:hover {
  color: #fcfafa;
  background: #224646;
}

footer {
  background: #113f3f;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 90px 110px 20px;
  align-items: center;
}
footer .instrumentos {
  grid-row: 1/span 1;
  grid-column: 1/-1;
}
footer .instrumentos ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0;
}
footer .instrumentos ul li {
  list-style: none;
  border: rgba(0, 0, 0, 0.233) 1px solid;
  padding: 10px;
  border-radius: 8px;
  box-sizing: border-box;
}
footer .instrumentos ul li a {
  text-decoration: none;
  font-size: 16px;
  color: white;
}
footer .img {
  grid-column: 1/span 1;
  grid-row: 2/span 1;
  justify-self: center;
}
footer .img img {
  margin: 0;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
footer .img h3 {
  font-size: 1.7rem;
  margin: 0;
  color: white;
}
footer .social_media {
  grid-column: 2/3;
  grid-row: 2/3;
}
footer .social_media h3 {
  color: white;
  text-align: center;
  font-size: 1.7rem;
}
footer .social_media ul {
  padding: 0;
  display: flex;
  justify-content: space-around;
}
footer .social_media ul li {
  list-style: none;
  margin: 0;
}
footer .social_media ul li a {
  display: block;
}
footer .social_media ul li a i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border: rgba(255, 255, 255, 0.918) solid 1px;
  border-radius: 50%;
  color: rgba(255, 255, 255, 0.918);
  font-size: 22px;
}
footer .contactos {
  grid-column: 3/4;
  grid-row: 2/3;
  padding: 12px;
  box-sizing: border-box;
  justify-self: end;
  display: grid;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
footer .contactos h5 {
  color: white;
  font-size: 17px;
  margin: 0;
}
footer .contactos a {
  display: block;
  text-decoration: none;
  font-size: 14px;
  color: white;
}
footer .copy {
  grid-column: 1/-1;
  grid-row: 3/4;
  color: white;
  text-align: center;
  background: black;
  height: 100%;
}
footer .copy p {
  margin: 0;
  font-size: 12px;
}

@media screen and (max-width: 767px) {
  .contenedor_header {
    padding: 0;
  }

  .nav_list {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    display: none;
    align-items: initial;
    flex-direction: column;
    z-index: 1000;
    background: #191919;
    overflow-y: scroll;
  }

  .nav_list > li {
    line-height: 6rem;
  }

  .sub_menu {
    position: initial;
    border: 3px solid transparent;
    border-left-color: #01ffea;
    margin-left: 1rem;
    max-height: 0;
  }

  .sub_menu::before {
    display: none;
  }

  .nav_list li:hover > .sub_menu {
    opacity: 1;
    visibility: visible;
    max-height: initial;
  }

  .menu-iconos {
    display: block;
  }

  .icon-cross {
    display: none;
  }

  nav.active .icon-cross {
    display: block;
  }

  nav.active .icon-menu {
    display: none;
  }

  nav.active .nav_list {
    display: flex;
  }

  main .content-titulo h1 {
    font-size: 2.1rem;
  }

  .productos {
    width: 100%;
    box-sizing: border-box;
  }
  .productos .content {
    background: rgba(3, 2, 2, 0.507);
    margin: 10px;
  }
  .productos .content .content-img {
    width: 130px;
    height: 130px;
  }
  .productos .content .content-img img {
    height: 130px;
    width: 100%;
  }
  .productos .content h3 {
    font-size: 15px;
  }
  .productos .content p {
    font-size: 13px;
  }
  .productos .content button {
    padding: 7px;
    font-size: 13px;
  }

  .Caracteristicas h3 {
    font-size: 22px;
  }
  .Caracteristicas .beneficios .duraderos {
    width: 180px;
    height: 180px;
  }
  .Caracteristicas .beneficios .increible {
    width: 180px;
    height: 180px;
  }
  .Caracteristicas .beneficios .confiable {
    width: 180px;
    height: 180px;
  }
  .Caracteristicas h4 {
    font-size: 15px;
  }
  .Caracteristicas p {
    font-size: 15px;
  }

  .comentarios .comentarios-h2 {
    padding-top: 18px;
  }
  .comentarios .comentarios-container-img img {
    width: 80px;
    width: 80px;
    border-radius: 50%;
  }
  .comentarios .comentarios-container-img .name {
    color: white;
    font-size: 17px;
  }

  .social_media {
    width: 100%;
  }
  .social_media ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    padding: 0;
  }
  .social_media ul li {
    list-style: none;
  }
  .social_media ul li a img {
    margin: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: white;
    border: none;
  }
}
@media screen and (max-width: 480px) {
  header {
    height: 8rem;
  }
  header .contenedor_header nav .menu-iconos {
    top: 20%;
  }
  header .contenedor_header nav .menu-iconos i {
    font-size: 1.8rem;
  }
  header .contenedor_header nav .container__logo {
    height: 6rem;
  }
  header .contenedor_header nav .container__logo img {
    width: 4.5rem;
    height: 4.5rem;
  }
  header .contenedor_header nav .container__logo h3 {
    font-size: 1.5rem;
  }
  header .contenedor_header nav .nav_list li a {
    font-size: 1.1rem;
  }

  .content-titulo h1 {
    font-size: 17px;
  }

  .productos .content {
    margin: 5px;
  }
  .productos .content .content-img {
    width: 100px;
    height: 100px;
  }
  .productos .content .content-img img {
    height: 100px;
    width: 100%;
  }
  .productos .content h3 {
    font-size: 15px;
  }
  .productos .content p {
    font-size: 13px;
  }
  .productos .content button {
    padding: 4px;
    font-size: 11px;
  }

  .Caracteristicas h3 {
    font-size: 19px;
  }
  .Caracteristicas .beneficios .duraderos {
    width: 160px;
    height: 160px;
  }
  .Caracteristicas .beneficios .increible {
    width: 160px;
    height: 160px;
  }
  .Caracteristicas .beneficios .confiable {
    width: 160px;
    height: 160px;
  }
  .Caracteristicas h4 {
    font-size: 14px;
  }
  .Caracteristicas p {
    font-size: 14px;
  }

  .comentarios h2 {
    font-size: 17px;
  }
  .comentarios .comentarios-h2 {
    padding-top: 18px;
  }
  .comentarios .comentarios-container-img img {
    width: 70px;
    width: 70px;
    border-radius: 50%;
  }
  .comentarios .comentarios-container-img .name {
    color: white;
    font-size: 13px;
  }

  footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 100px 150px 80px 20px;
    align-items: center;
  }
  footer .instrumentos {
    grid-column: 1/-1;
    grid-row: 1/2;
    border-bottom: 1px white solid;
  }
  footer .instrumentos ul {
    padding: 0;
  }
  footer .instrumentos ul li {
    padding: 8px;
  }
  footer .instrumentos ul li a {
    font-size: 11px;
  }
  footer .img {
    display: none;
  }
  footer .img img {
    display: none;
  }
  footer .img h3 {
    margin: 0;
    color: white;
  }
  footer .social_media {
    grid-column: 1/-1;
    grid-row: 2/3;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px white solid;
  }
  footer .social_media h3 {
    margin: 0;
    padding: 15px;
    color: white;
    text-align: center;
  }
  footer .social_media ul {
    display: flex;
    justify-content: space-around;
  }
  footer .social_media ul li {
    list-style: none;
    margin: 0;
  }
  footer .social_media ul li a {
    display: block;
    box-sizing: border-box;
  }
  footer .social_media ul li a img {
    margin: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: white;
    border: none;
  }
  footer .contactos {
    grid-column: 1/-1;
    grid-row: 3/4;
    padding: 0;
    justify-self: center;
    align-items: center;
  }
  footer .contactos h5 {
    color: white;
    font-size: 17px;
    margin: 0;
  }
  footer .contactos a {
    display: block;
    text-decoration: none;
    font-size: 14px;
    color: white;
  }
  footer .copy {
    grid-column: 1/-1;
    grid-row: 4/5;
    color: white;
    text-align: center;
    background: black;
    height: 100%;
  }
  footer .copy p {
    margin: 0;
    font-size: 12px;
  }
}