body{
    margin: 0;
    padding: 0;
    font-family: Helvetica;
    box-sizing: border-box;
}

nav{
    width: 100%;
    min-height: 130px;
    display: flex;
    justify-content: space-between;
    background: #2b7575;
}
.container__logo{
    width: 15%;
    height: 100px;
    position: relative;
    img{
        margin: 16px;
        object-fit: cover;
        position: absolute;
        width: 100%;
        height: 100%;
    }
}
.container__menu{

    display: flex;
    align-items: center;
    margin-right: 20px;
     ul{
         display: flex;
     


         li{
            list-style: none;
            padding-left: 15px;
            a{
                color: blue;
                text-decoration: none;
            }
         }
     }
}


main{
    
    .content-titulo{
        margin: auto;
        color: white;
        background: black;
        width: 100%;
        display: flex;
        justify-content: center;
        text-align: center;
    }





   
}
.productos{
    background-image: url("../img/fondo-imagen2.jpg");
    width: 100%;
    margin: 0;
    background-size: cover;
    object-fit: cover;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 35px;
    

    
    .content{
        background: rgba(3, 2, 2, 0.507);
       
        height: 50%;
        padding: 5px;
        color: white;
        box-shadow: 0 0 4px white;
        display:flex;
        flex-direction: column;
        align-items: center;
    

        .content-img{
            width: 170px;
            height: 170px;
         
       
       
            img{
                height: 170px;
                width: 100%;
                
       
                
            }
        }

        button{
            padding: 10px;
            color: rgb(0, 0, 0);
            background: #2b7575;
            text-transform: uppercase;
            border: none;
            cursor: pointer;
            border-radius: 8px;
            
        }
        button:hover{
            color: rgb(252, 250, 250);
            background: #224646;

        }
        
    }
}
.comentarios{
    margin: 0;
    background: black;
    text-align: center;
    .comentarios-h2{
        color: white;
    }
    .comentarios-container-img{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

        img{
            border-radius: 50%;
        }
        .name{
            color: white;
        }
    }
}